[Unit]
Description=Weekly nginx reload for Let's Encrypt cert renewal
Requires=pichel-nginx-reload.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
